html, body {
   margin:0;
   padding:0;
   width:100%;
   height:100%;
}
*,*:before,*:after {
   box-sizing:border-box;
}
body {
   font-family:'Barlow Semi Condensed',sans-serif;
   font-weight:500;
   background:#33363D;
}
a {
   text-decoration:none;
   color:white;
}
.wrapper {
   width:100%;
   height:100%;
}
nav {
   width:100%;
   height:auto;
   display:block;
   color:white;
}
nav > ul {
   padding-left:0;
   margin:0; 
}
nav > ul > li {
   list-style:none;
   padding:12px;
   width:200px;
   display:block;
   float:left;
   cursor:pointer;
}
nav > ul > li:last-child, nav > ul > li:nth-child(6) {
   float:right;
   text-align:right;
   padding-right:10px;
   padding-left:10px;
   width:auto;
}
nav > ul > li:last-child > img {
   width:12px;
   padding-top:2px;
}
nav > ul > li:last-child:hover, nav > ul > li:last-child > input:hover {cursor:pointer;}
nav > ul > li:first-child{background:#425261;}
nav > ul > li:nth-child(2){background:#FB7D44;}
nav > ul > li:nth-child(3){background:#2A92BF;}
nav > ul > li:nth-child(4){background:#F4CE46;}
nav > ul > li:nth-child(5){background:#00B961;}
nav > ul > li:nth-child(6){margin-right:10px;}

nav:after {
   content:"";
   display:block;
   clear:both;
}
.note {
   height:auto;
   float:left;
   display:block;
   position:relative;
   max-width:300px;
   padding:1em;
   min-height:300px;
   margin:22px;
   background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
   background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
   background-color: #FFFD75;
   box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
      -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
      -webkit-transform: skew(-1deg, 1deg);
    transform: skew(-1deg, 1deg);
      -webkit-transition: -webkit-transform .15s;
   transition: -webkit-transform .15s;
   transition: transform .15s;
   transition: transform .15s, -webkit-transform .15s;
   z-index:1;
}
.btn_remove {
   position:absolute;
   right:0;
   top:0;
   width:35px;
   height:35px;
   background:#c11212;
   border-radius:100%;
   margin-top:10px;
   margin-right:10px;
}
.btn_remove > p {
   width:100%;
   height:100%;
   line-height:35px;
   padding:0;
   margin:0;
   text-align:center;
   font-size:20px;
   font-weight:bolder;
   color:white;
}
.btn_remove > p > a {
   width:100%;
   height:100%;
   display:inline-block;
}
.btn_remove > p:hover, #add_note > p:hover, input.btn_new_note:hover {cursor:pointer;}
.title, .new_note_title {
   font-size:26px;
   display:block;
   width:85%;
   background:transparent;
   border:0;
   height:auto;
   resize:vertical;
   overflow:hidden!important;
}
.title:focus, .text:focus, nav > ul > li:last-child > input:focus, .new_note_title:focus, .new_note_text:focus, input.btn_new_note:focus {outline:none;}
.text, .new_note_text {
   margin-top:18px;
   display:block;
   width:85%;
   min-height:100px;
   background:transparent;
   border:0;
   height:auto;
   resize:vertical;
   overflow:hidden!important;
}
.status:before {
   content: "";
   display: block;
   width:100%;
   height:1px;
   background:black;
   margin-bottom:6px;
}
.status {
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   display:inline;
   padding:6px;
   text-align:center;
}
.status > ul {
   list-style: none;
}
.status > ul > li {
   margin: 0;
   padding: 0;
   position:relative;
   margin-left:-35px;
}
.status > ul > li > a {
   padding: 10px; 
   color: #444;
   text-decoration:none;
}
.status > ul > li ul {
   padding: 0;
   position: absolute; 
   display: none; 
   left: 0px; 
   margin-left: -11px;
   top: -115px;
   width: 300px;
   text-align: left;
   background-color: #fcfcfc;
}
.status > ul > li ul ul {
   left:200px; 
   top:-1px;
}
.status > ul > li ul li {
   margin:0; 
   padding:8px;
   position:relative; 
   height:auto;
   list-style:none;
}
.status > ul > li ul li {
   padding:10px 20px; 
   color:#505050; 
   text-decoration:none;
   display:block;
}
.status > ul > li ul li:hover, .status > ul > li ul li:hover, .status > ul > li ul li:hover > a {
   text-decoration:none;
   background-color:#425261;
   color:white;
}
#add_note {
   position:fixed;
   bottom:0;
   right:0;
   width:50px;
   height:50px;
   background:#FB7D44;
   border-radius:100%;
   margin-right:20px;
   margin-bottom:20px;
   z-index:2;
}
#add_note > p {
   padding:0;
   margin:0;
   text-align:center;
   line-height:45px;
   font-size:50px;
   color:white;
}
input[type=submit] {
   background:none;
   color:white;
   border:none;
   font-size:15px;
   letter-spacing:1.5px;
}
#new_note {
   position:absolute;
   top:0;
   left:0;
   display:none;
   width:100%;
   height:100%;
   background-color:rgba(0,0,0,0.4);
   z-index:2;
   padding-top:50%;
   position:fixed;
}
.new_note_container {
   padding:1em;
   max-width:400px;
   max-height:600px;
   margin:auto;
   background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
   background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
   background-color: #FFFD75;
   box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
   transform: rotate(0deg);
   z-index:1;
}
.new_note_title, .new_note_text {width:100%;}
input.btn_new_note {
   position:absolute;
   right:0;
   bottom:0;
   font-family:'Barlow Semi Condensed',sans-serif;
   color:#444;
   padding:12px;
   font-weight:bolder;
   letter-spacing:1px;
}
/* animacja pojawiania się komunikatu */
.animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)} 
   to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
   from {transform: scale(0)} 
   to {transform: scale(1)}
}
textarea, input[type=button] {
   font-family:inherit;
   font-size:inherit;
}
::-webkit-input-placeholder {color:#444}
::-moz-placeholder {color:#444}
:-ms-input-placeholder {color:#444}
:-moz-placeholder {color:#444}
.sel {
   font-size:1rem;
   display:inline-block;
   width:100%;
   background-color:transparent;
   position:relative;
   cursor:pointer;
}
.sel::before {
   position:absolute;
   content:'\f063';
   font-family:'FontAwesome';
   font-size:1em;
   color:#444;
   right:20px;
   top:calc(50% - 0.5em);
}
.sel.active::before {
   transform:rotateX(-180deg);
}
.sel__placeholder {
   display:block;
   font-size:1.3em;
   color:#444;
   padding:0.2em 0.5em;
   text-align:left;
   pointer-events:none;
   user-select:none;
   visibility:visible;
}
.sel.active .sel__placeholder {
   visibility:hidden;
}
.sel__placeholder::before {
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   padding:0.2em 0.5em;
   content:attr(data-placeholder);
   visibility:hidden;
}
.sel.active .sel__placeholder::before {
visibility:visible;
}
.sel__box {
   position:absolute;
   top:100%;
   display:none;
   list-style-type:none;
   text-align:left;
   font-size:1em;
   width:100%;
   box-sizing:border-box;
}
.sel.active .sel__box {
   display:block;
   animation: fadeInUp 500ms;
}
.sel__box__options {
   display:list-item;
   font-size:1em;
   color:#444;
   padding:0.7em 1em;
   user-select:none;
}
.sel__box__options::after {
   content:'\f00c';
   font-family:'FontAwesome';
   font-size:0.5em;
   margin-left:5px;
   display:none;
}
.sel__box__options.selected::after {
   display:inline;
}
.sel__box__options:hover {
   background-color:#444;
   background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25))
}
.sel {border-bottom: 4px solid #444}
.sel--black-panther {z-index:3;}
.sel--superman {z-index:2;}
@keyframes fadeInUp {
  from {
    opacity:0;
    transform:translate3d(0, 20px, 0);
  }
  to {
    opacity:1;
    transform:none;
  }
}
@keyframes fadeOut {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}
@media screen and (max-width:480px) {
   nav > ul > li {width:100%;}
}